

.logout__button {

  padding: 17px 30px;
  margin-top: 20px;
  margin-left: 1200px;
  cursor: pointer;
  border: none;
  color: black;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 900;
  border-radius: 3px;
  display: flex;
  
  justify-content: flex-end;
  align-items: flex-start;
}

.user__name {
  color: #8d0ada;
}
